@use 'utils/colors';

.button{
    padding: 19px 30px;
    border-radius: 20px;

    background-color: colors.$call-to-action;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}