$ff-work: "Work Sans", sans-serif;
$ff-space: "Space Mono", monospace;

$h1-size: 67px;
$h1-line: 1.1;

$h2-size: 51px;
$h2-line: 1.1;

$h3-size: 38px;
$h3-line: 1.2;

$h4-size: 28px;
$h4-line: 1.4;

$h5-size: 22px;
$h5-line: 1.4;

$base-size: 16px;
$base-line: 1.4;

$caption-size: 12px;
$caption-line: 1.1;

$body-size: 22px;
$body-line: 1.6;

$descr-size: 24px;
$descr-line: 1.6;
